<article class="clock">
  <div class="hour">16:15</div>
  <div class="date">fri 15May</div>
  <article class="world-clock">
    <div class="clock-item">
      <div class="city">LON</div>
      <div class="hour">16:15</div>
    </div>
    <div class="clock-item">
      <div class="city">HK</div>
      <div class="hour">20:15</div>
    </div>
    <div class="clock-item">
      <div class="city">SIN</div>
      <div class="hour">22:15</div>
    </div>
    <div class="clock-item">
      <div class="city">MEX</div>
      <div class="hour">8:15</div>
    </div>
  </article>
</article>