<article class="last-deployment">
  <div class="avatar">
    <img src="http://engineering.alphasights.com/img/team-7-7126dd94.jpg" alt="John Kelly Ferguson">
  </div>
  <div class="action">
    <div class="title">
      <span class="initials">JKF</span>
      <p>Remove project_id and advisor_id from Swordifsh::Unavailabilities serializer</p>
      <span class="timeago">3 seconds ago</span>
    </div>
  </div>
</article>