<article class="latest-tweet">
  <header>
    feed
    <a href="#">@alphasights.dev</a>
  </header>
  <div class="followers">
    <span class="text">followers</span>
    <span class="count">311</span>
  </div>
  <div class="tweet">
    <p>“How we do Pull Requests by @kyle.doherty <a href="#">#github</a> <a href="#">#workflow</a> <a href="#">http://bit.ly/123</a></p>
    <span class="timeago">10 seconds ago</span>
  </div>
</article>