<div class="stats">
  <article class="uptime">
    <header>Uptime</header>
    <div class="stat">
      <span class="number">99.9</span>
      <span class="date">today</span>
    </div>
    <div class="stat">
      <span class="number">99.6</span>
      <span class="date">this month</span>
    </div>
  </article>

  <article class="incidents">
    <header>Uptime</header>
    <div class="stat">
      <span class="number">3</span>
      <span class="date">today</span>
    </div>
    <div class="stat">
      <span class="number">7</span>
      <span class="date">this month</span>
    </div>
  </article>
</div>