<div class="system-status">
  <article class="clear">
    <div class="wrapper">
      <span class="icon"></span>
      <span class="text">All Systems Clear</span>
    </div>
  </article>
  <article class="alert">
    <div class="tiles">
      <div class="tile">
        <span class="icon"></span>
        <span class="text">Pistachio</span>
      </div>
      <div class="tile">
        <span class="icon"></span>
        <span class="text">Heroku</span>
      </div>
      <div class="tile">
        <span class="icon"></span>
        <span class="text">CircleCI</span>
      </div>
    </div>
  </article>
</div>