<div class="system-status">
  <article class="clear">
    <div class="wrapper">
      <span class="icon"></span>
      <span class="text">All Systems Clear</span>
    </div>
  </article>
  <article class="alert">
    <div class="tiles">
      {{#each service in model}}
        <div class="tile">
          <span class="icon"></span>
          <span class="text">{{service.name}}</span>
        </div>
      {{/each}}
    </div>
  </article>
</div>