$background-color: rgba($black , .7);

body {
  background-image: url('../img/bg.jpg');
  background-position: fixed;
  background-size: cover;
  color: $white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  overflow-y: scroll;
  padding: $column-gutter;
  position: relative;
  z-index: 0;

  &:before {
    background-color: $background-color;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  > div {
    @extend %grid-row;

    display: inline-block;
    position: relative;
    z-index: 10;

    > section {
      @extend %grid-row;

      align-content: center;
      background-color: $background-color;
      border-radius: $global-radius;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      justify-content: stretch;
      overflow: hidden;

      .content {
        flex-grow: 6;
      }

      .side-content {
        align-self: flex-end;
        flex-grow: 1;
      }
    }
  }

  .title {
    float: left;
  }

  .logo {
    float: left;
    position: relative;
    z-index: 10;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $vapor;
  font-weight: $font-weight-bold;
}
