%system-status {
  text-align: center;

  &.is-clear {
    .clear {
      display: block;
    }

    .alert {
      display: block;
    }
  }

  .clear {
    align-items: center;
    background-color: rgba($primary-color, .7);
    display: flex;
    height: $tile-size;
    justify-content: center;

    .icon {
      @include icon(ok)
    }
  }

  .alert {
    display: none;
  }
}

.system-status {
  @extend %system-status;
}
