$timeline-icon-size: 2em;
$timeline-bar-size: .2em;
$timeline-bar-color: $iron;
$timeline-entry-height: 2em;

%timeline {

  .entry {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .icon {
    @include icon(cog);

    background: $timeline-bar-color;
    height: $timeline-entry-height;
    text-align: center;
    width: $timeline-bar-size;
  }
}

.timeline {
  @extend %timeline;
}
